<div class="main">
  <h1>Angular Table</h1>
  <ul>
    <li><a routerLink="/basic-table" routerLinkActive="active">Basic Table</a></li>
    <li><a routerLink="/remote-data-table" routerLinkActive="active">REST API Table</a></li>
    <li><a routerLink="/row-template" routerLinkActive="active">Row Templates</a></li>
    <li><a routerLink="/pagination-table" routerLinkActive="active">Pagination Table</a></li>
    <li><a routerLink="/sorting-table" routerLinkActive="active">Sorting Table</a></li>
    <li><a routerLink="/filtering-table" routerLinkActive="active">Filtering Table</a></li>
    <li><a routerLink="/selection-table" routerLinkActive="active">Selection Table</a></li>
    <li><a routerLink="/footer-table" routerLinkActive="active">Footer Table</a></li>
    <li><a routerLink="/sticky-table" routerLinkActive="active">Sticky Table</a></li>
    <li><a routerLink="/styled-table" routerLinkActive="active">Styled Table</a></li>
  </ul>
  <router-outlet />
</div>